<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC-Board Games</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="headerL"><a href="">Register</a>|<a href="">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
            <div class="headerimg">***Board Games HEADER PIC*** <img src="" alt=""></div>
        </div>
        <div class="body">
            Exploding Kittens - $19.99 <img src="" alt=""><button>Add to Cart</button>
            Clue - $19.99 <img src="" alt=""><button>Add to Cart</button>
            Monopoly - $19.99 <img src="" alt=""><button>Add to Cart</button>
            Guess Who? - $19.99 <img src="" alt=""><button>Add to Cart</button>
        </div>
    </div>
</body>
</html>