<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC-DCG</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="headerL"><a href="">Register</a>|<a href="">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
            <div class="headerimg">***DCG HEADER PIC*** <img src="" alt=""></div>
        </div>
        <div class="body">
            DCG Battle of Omega Booster Pack- $4.99 <img src="" alt=""><button>Add to Cart</button>
            DCG Starter Deck - $9.99 <img src="" alt=""><button>Add to Cart</button>
            DCG New Evolution Booster Box - $49.99 <img src="" alt=""><button>Add to Cart</button>
            DCG Gift Box - $24.99 <img src="" alt=""><button>Add to Cart</button>
        </div>
    </div>
</body>
</html>