<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC-MTG</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="headerL"><a href="">Register</a>|<a href="">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
            <div class="headerimg">***MTG HEADER PIC*** <img src="" alt=""></div>
        </div>
        <div class="body">
            Monarch Booster Pack - $4.99 <img src="" alt=""><button>Add to Cart</button>
            History Pack 1 Booster Pack - $4.99 <img src="" alt=""><button>Add to Cart</button>
            Prism Blitz Deck - $19.99 <img src="" alt=""><button>Add to Cart</button>
            Outsiders Booster Box - $54.99 <img src="" alt=""><button>Add to Cart</button>
        </div>
    </div>
</body>
</html>