<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>CC-Board Games</title>
</head>
<body>
    <div class="container">
        <div class="headerboard">
            <div class="headerL"><a href="/sign_in">Register</a>|<a href="/sign_in">Login</a> | <a href="/navigation">Home</a></div>
            <div class="headerR"><a href="/payment"><img src="{{url_for('static',filename='/pics/shopping/blackcart.png')}}" alt="cart" width="40px"></a><a href="/logout">Logout</a></div>
        </div>
        <div class="merch">
            <div class="center">
                <img width="165px" src="{{url_for('static',filename='/pics/BoardGames/ExplodingKitten.jpg')}}" alt="pic1">
                <p>Exploding Kittens - $19.99</p>
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="id" value="21">
                    <input type="hidden" name="name_of_product" value="Exploding Kittens">
                    <input type="hidden" name="price" value="19.99">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            <div class="center">
                <img width="165px" src="{{url_for('static',filename='/pics/BoardGames/clue.webp')}}" alt="pic1">
                <p>Clue - $19.99</p>
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="id" value="22">
                    <input type="hidden" name="name_of_product" value="Clue">
                    <input type="hidden" name="price" value="19.99">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            <div class="center">
                <img width="165px" src="{{url_for('static',filename='/pics/BoardGames/Monoply.jpg')}}" alt="pic1">
                <p>Monopoly - $19.99</p>
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="id" value="23">
                    <input type="hidden" name="name_of_product" value="Monopoly">
                    <input type="hidden" name="price" value="19.99">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            
            <div class="center">
                <img width="165px" src="{{url_for('static',filename='/pics/BoardGames/GuessWho.jpg')}}" alt="pic1">
                <p>Guess Who? - $19.99</p>
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="id" value="24">
                    <input type="hidden" name="name_of_product" value="Guess Who?">
                    <input type="hidden" name="price" value="19.99">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
</body>
</html>