<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>CC-D&D</title>
</head>
<body>
    <div class="container">
        <div class="headerdnd">
            <div class="headerL"><a href="/sign_in">Register</a>|<a href="/sign_in">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
        </div>
        <div class="merch">
            <div class="center">
                <img width="165px" src="{{url_for('static',filename='/pics/D&D/guide.webp')}}" alt="pic1">
                <p>Dungeon Master's Guide Book - $24.99</p>
                <button>Add to Cart</button>
            </div>
            <div class="center">
                <img width="165px" src="{{url_for('static',filename='/pics/D&D/0786965606.webp')}}" alt="pic1">
                <p>Players Hand Bood - $24.99</p>
                <button>Add to Cart</button>
            </div>
            <div class="center">
                <img src="{{url_for('static',filename='/pics/D&D/dice.jpg')}}" alt="pic1">
                <p>Set of 7 Dice: Blue - $7.99</p>
                <button>Add to Cart</button>
            </div>
            <div class="center">
                <img width="200px" src="{{url_for('static',filename='/pics/D&D/RedDragon.jpg')}}" alt="pic1">
                <p>Ancient Red Dragon Miniature - $49.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
</body>
</html>