<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardboard Castle</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="headerL"><a href="/sign_in">Register</a>|<a href="/sign_in">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
        </div>
        <div class="body">
            <div class="row1">******MTG PIC HERE********* **********POKEMON TCG PIC HERE<img src="{{url_for('static',filename='/pics/Pokemon/Pokemon_logo.png')}}"></div>
            <div class="row2">******FAB PIC HERE********* **********DCG PIC HERE</div>
            <div class="row3">******D&D PIC HERE********* **********BOARD GAMES PIC HERE</div>
        </div>
    </div>
</body>
</html>