<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>CC-Pokemon</title>
</head>
<body>
    <div class="container">
        <div class="headerpokemon">
            <div class="headerL"><a href="/sign_in">Register</a>|<a href="/sign_in">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
        </div>
        <div class="merch">
            <div class="center">
                <img width="165px" src="{{url_for('static',filename='/pics/Pokemon/183485.jpg')}}" alt="pic1">
                <p>Pokemon 1st Editon Booster Pack - $399.99</p>
                <button>Add to Cart</button>
            </div>
            <div class="center">
                <img src="{{url_for('static',filename='/pics/Pokemon/516KHDtOHHL.__AC_SX300_SY300_QL70_FMwebp_.webp')}}" alt="pic1">
                <p>Scarlet and Violet Booster Pack - $4.99</p>
                <button>Add to Cart</button>
            </div>
            <div class="center">
                <img src="{{url_for('static',filename='/pics/Pokemon/91gU9wk0dNL.__AC_SX300_SY300_QL70_FMwebp_.webp')}}" alt="pic1">
                <p>Obsidian Flames Booster Pack - $4.99</p>
                <button>Add to Cart</button>
            </div>
            
            <div class="center">
                <img src="{{url_for('static',filename='/pics/Pokemon/71ARA+YjCfL._AC_SY300_SX300_.jpg')}}" alt="pic1">
                <p>Pandoras Rift Gift Set - $19.99</p>
                <button>Add to Cart</button>
            </div>
        </div>
</body>
</html>