<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC-D&D</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="headerL"><a href="">Register</a>|<a href="">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
            <div class="headerimg">***D&D HEADER PIC*** <img src="" alt=""></div>
        </div>
        <div class="body">
            Dungeon Master's Guide Book - $24.99 <img src="" alt=""><button>Add to Cart</button>
            Players Hand Bood - $24.99 <img src="" alt=""><button>Add to Cart</button>
            Set of 7 Dice: Blue - $7.99 <img src="" alt=""><button>Add to Cart</button>
            Ancient Red Dragon Miniature - $49.99 <img src="" alt=""><button>Add to Cart</button>
        </div>
    </div>
</body>
</html>