<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC-MTG</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="headerL"><a href="">Register</a>|<a href="">Login</a></div>
            <div class="headerR"><a href="">Shopping Cart</a><img src="" alt="">THIS IS WHERE THE PIC GOES</div>
            <div class="headerimg">***MTG HEADER PIC*** <img src="" alt=""></div>
        </div>
        <div class="body">
            Lost Caverns of Ixalan Commander Deck - $44.99 <img src="" alt=""><button>Add to Cart</button>
            Wilds of Eldraine Booster Pack - $4.99 <img src="" alt=""><button>Add to Cart</button>
            Phyrexia: All Will Be One Bundle - $59.99 <img src="" alt=""><button>Add to Cart</button>
            Crimson Vow Booster Box - $109.99 <img src="" alt=""><button>Add to Cart</button>
        </div>
    </div>
</body>
</html>